<div class="col bg-white overflow-auto border rounded-lg">
    <table class="table table-borderless mb-0">
        <thead class="border-bottom">
            <th scope="col">Datum</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Začátek</th>
            <th scope="col">Konec</th>
            <th scope="col">Počet hodin</th>
            <th scope="col">Saldo</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for att in attendance %}
            <tr id="{{att.attendanceId}}">
                <td>{{att.date|date:'d.m.Y'}}</td>
                <td>{{att.category.name}}</td>
                <td>{{att.start|date:'H:i'}}</td>
                <td>{{att.end|date:'H:i'}}</td>
                <td>{{att.work_hours}}</td>
                <td>{{att.saldo}}</td>
                <td>
                    <button data-toggle="modal" data-target="#edit_{{att.attendanceId}}" class="btn btn-outline-primary border-0 rounded-lg">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                {% include 'modals/editEmpAttendance.html' with att=att %}
            </tr>
            {% endfor %}
            <tr class="border-top font-weight-bold">
                <td>Celkem</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{attTotal}}</td>
            </tr>
        </tbody>
    </table>
</div>