{% load static %}
{% block content %}
<div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-lg">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">Nový záznam</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'projects' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="name" class="font-weight-bolder">Název projektu</label>
                    <input type="text" name="name" value="ESP32" class="form-control rounded-sm" required>
                </div>
                <div class="form-group">
                    <label for="date" class="font-weight-bolder">Datum</label>
                    <input type="date" name="date" value="2023-02-18" class="form-control rounded-sm" required>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="start" class="font-weight-bolder">Začátek</label>
                            <input type="time" name="start" value="06:30:00" class="form-control rounded-sm" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="end" class="font-weight-bolder">Konec</label>
                            <input type="time" name="end" value="10:30:00" class="form-control rounded-sm" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" id="submitBtn" class="btn btn-primary btn-block rounded-sm" value="Uložit">
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}